@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Github Actions test</h1>
    <p>Learn more about <a href="https://docs.github.com/en/actions">github actions</a>.</p>
</div>
