@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Entity Framework</h1>
    <p>Learn more about <a href="https://learn.microsoft.com/en-us/ef/core/">Entity framework</a>.</p>
</div>
